name: demos
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os:
          - ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 22
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 9.8.0
          run_install: true
      - name: Build SDK
        run: |
            cd sdk && pnpm build
      - name: Build Demos
        run: |
            cd demos/webpack-app && pnpm build
      - name: Prepare
        run: |
            mkdir _deploy
            cp -R demos/webpack-app/public/* _deploy/webpack-app/
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _deploy
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
